﻿@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p class="lead">find more details about this web app on the below link</p>
<p><a href="http://blog.studynildana.com/post/building-a-web-app-part-1-of-x" class="btn btn-primary btn-lg">web app details</a></p>
