﻿@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>demo asp dot net 1</h1>
    <p class="lead">This is a simple asp dot net project to go with the many blog posts that are written at the study nildana blog</p>
    <p class="lead">You can find all the blog posts related to this project at the below link</p>
    <p><a href="http://blog.studynildana.com/page/reading-order-web-technologies" class="btn btn-primary btn-lg">go to blog posts here</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>study nildana</h2>
        <p>
            a technology club based out of mysore.
        </p>
        <p><a class="btn btn-default" href="http://studynildana.com">study nildana</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find us on Twitter</h2>
        <p>follow us on twitter to keep up with all the things we are doing</p>
        <p><a class="btn btn-default" href="https://twitter.com/studynildana">study nildana on twitter</a></p>
    </div>
    <div class="col-md-4">
        <h2>Find us on Facebook</h2>
        <p>Like our page on Facebook to see what we are up to</p>
        <p><a class="btn btn-default" href="https://facebook.com/studynildana">study nildana on facebook</a></p>
    </div>
</div>