﻿@model demo_asp_dot_net_1.Models.student

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_email_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_email_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_marks)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
