﻿@model demo_asp_dot_net_1.Models.student

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.student_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_email_address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_email_address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.student_marks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.student_marks)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
