﻿@model IEnumerable<demo_asp_dot_net_1.Models.student>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.student_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_age)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_email_address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.student_marks)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.student_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_age)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_email_address)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.student_marks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
